#contactFixed,
#contactFixedOpen {
    position: fixed;
    border-radius: 10px;
    bottom: 15px;
    right: 25px;
    background-color: #cbc9c8;
}

.contact-fixed--social-container {
    display: grid;
    grid-template-columns: 45px 45px;
    gap: 5px;
}

.contact-fixed--social-item {
    margin: .125em;
    font-size: 1.5em;
}

.contact-fixed--social-item img {
    width: 100%;
    height: 100%;
}

.contact-fixed--social-container-open {
    display: grid;
    grid-template-columns: 45px;
    gap: 5px;
}

@media only screen and (max-width: 600px) {
    .contact-fixed--social-container {
        grid-template-columns: 35px 35px;
    }
    .contact-fixed--social-container-open {
        grid-template-columns: 35px;
    }
}