<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="" />
    <title>Tìm Mua Sim Hợp Tuổi Uy Tín.</title>
    <meta name="keywords" content="sim hợp tuổi, sim phong thủy hợp tuổi, số điện thoai hợp tuổi, số điện thoại hợp tuổi, tìm sim hợp tuổi, chọn sim hợp tuổi, sim hop tuoi, chọn số điện thoại hợp tuổi" />
    <meta name="description" content="Tìm mua sim hợp tuổi, chọn số điện thoại hợp tuổi chuẩn phong thủy sẽ căn cứ vào 5 yếu tố dự báo cổ như âm dương, ngũ hành, quẻ dịch, cửu tinh, quan niệm dân gian. Vậy đến ngay simhoptuoi.com.vn để chọn sim phong thủy hợp tuổi uy tín, chính xác nhất."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=0" />
    <link rel="canonical" href="https://simhoptuoi.com.vn/" />
    <meta name="google-site-verification" content="7pKBwFmYA9FQrG5dgwqSdl73lJStqM2YWCeaWFazsoY" />

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='common/templates/site/images/Favicon.png')}}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='common/templates/site/plugins/bootstrap/css/bootstrap.min.css')}}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common/templates/site/css/global-style.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common/templates/site/css/response.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common/templates/site/css/style-menu.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common/templates/site/plugins/font-awesome-4.6.3/css/font-awesome.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common/templates/site/plugins/slick/slick.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common/templates/site/css/hover.css')}}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common/templates/site/css/styleMore.css')}}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='common/templates/site/js/jquery-3.4.1.min.js')}}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>
<body>
    {% include "components/header.html" %}
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='common/templates/site/js/jquery.slimscroll.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='common/templates/site/js/functions.js')}}"></script>
    <script type="text/javascript">
        //$('.slimContentText').slimScroll();
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='common/templates/site/js/jquery-migrate-1.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='common/templates/site/plugins/bootstrap/js/bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='common/templates/site/plugins/slick/slick.min.js')}}"></script>

    <script src="{{ url_for('static', filename='common/templates/site/js/jquery-ui.min.js')}}"></script>
    <script src="{{ url_for('static', filename='common/templates/site/js/jsmobile.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='common/templates/site/js/rolldate.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='common/templates/site/js/readmore.min.js')}}"></script>
    <style type="text/css">
        .readmore_content_js {
            overflow: hidden;
        }
        
        .readmore_content_js1 {
            overflow: hidden;
        }
    </style>
    <script>
        $(document).ready(function() {
            if ($(this).scrollTop() > 10) {
                $('.wapper_header').addClass('wapper_header_fix');
            } else {
                $('.wapper_header').removeClass('wapper_header_fix');
            }

            $('.readmore_content_js').readmore({
                speed: 75,
                collapsedHeight: 650,
                heightMargin: 20,
                lessLink: "",
                embedCSS: true,

                blockCSS: 'display: block; width: 100%;',
                moreLink: '<div class="div_xemthem xem-them-luansim" ><p class="readMoreContent js_xemthem"><span class="arrow"><span></span></span>Xem thêm</p></div>'
            });
            $('.readmore_content_js1').readmore({
                speed: 75,
                heightMargin: 20,
                embedCSS: true,
                blockCSS: 'display: block; width: 100%;',
                afterToggle: function(trigger, element, expanded) {
                    $(".readmore_content_js1").css({
                        height: "auto"
                    });
                },
                collapsedHeight: 350,
                lessLink: '',
                moreLink: '<div class="div_xemthem xem-them-luansim" ><p class="readMoreContent js_xemthem"><span class="arrow"><span></span></span>Xem thêm</p></div>'
            });

        });
        $(document).ready(function() {
            const isMobile = {
                Android: function() {
                    return navigator.userAgent.match(/Android/i);
                },
                BlackBerry: function() {
                    return navigator.userAgent.match(/BlackBerry/i);
                },
                iOS: function() {
                    return navigator.userAgent.match(/iPhone|iPad|iPod/i);
                },
                Opera: function() {
                    return navigator.userAgent.match(/Opera Mini/i);
                },
                Windows: function() {
                    return navigator.userAgent.match(/IEMobile/i) || navigator.userAgent.match(
                        /WPDesktop/i);
                },
                any: function() {
                    return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile
                        .Opera() || isMobile.Windows());
                }
            };
            if (isMobile.any()) {
                if ($('#mobi_menu_top').length > 0) {
                    // var mobi_menu_top_height = $('#wapper_breadcumb').offset().top;
                    $(window).scroll(function() {
                        // console.log($(this).scrollTop());
                        if ($(this).scrollTop() > 40) {
                            $('#mobi_menu_top').addClass('mobi_menu_top_fix');
                            $('#mobi_menu_top').addClass('show');
                            $('.chuongbao').addClass('fixed')
                        } else {
                            $('#mobi_menu_top').removeClass('mobi_menu_top_fix');
                            $('#mobi_menu_top').removeClass('show');
                            $('.chuongbao').removeClass('fixed')

                        }

                    });
                };
            }

            new Rolldate({
                el: '#date-group1-2',
                format: 'DD-MM-YYYY',
                beginYear: 1950,
                endYear: 2030,
            });



        })
    </script>

    
    {% include "components/footer.html" %}
</body>
</html>